* {
    font-family: Arial;
}

body {
    margin: 0;
}

h1 {
    margin: .5em;
}

.content {
    border: 1px solid;
    border-radius: .5em;
    margin: .5em;
    padding-left: .5em;
    padding-right: .5em;
    display: inline-block;
    vertical-align: middle;
}

.internal {
    margin: .5em;
}

h2 {
    margin: .5em;
}

h3 {
    margin: 0;
    font-style: italic;
}

p {
    margin: 0.5em;
    font-style: italic;
}

button {
    margin: 0.5em;
}

table {
    margin: 0.5em;
    border: 1px solid;
    border-collapse: collapse;
}

th, td {
    padding-left: 0.5em;
    padding-right: 0.5em;
    border: 1px solid;
}

.center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}