* {
    font-family: Arial;
}

body {
    margin: 0;
    background-color: darkslategrey;
    color: lightgrey;
    padding: .5em
}

h1 {
    margin: .25em;
}

.content {
    border-radius: .5em;
    display: inline-grid;
    vertical-align: middle;
    padding: .25em;
    margin: .5em;
    background-color: rgba(255, 255, 255, 0.16);
}

h2 {
    margin: .25em;
}

p {
    margin: .25em;
}

table {
    margin: .25em;
    display: block;
    overflow-x: auto;
    white-space: nowrap;
    border-collapse: collapse;
}

th, td {
    padding: .25em .5em;
    border: 1px solid;
    border-color: lightslategrey;
}

.center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

label {
    display: inline-block;
    white-space: nowrap;
    margin: .25em;
}

button {
    margin: .25em;
    color: darkslategrey;
    background-color: lightgrey;
    border: none;
    font-size: 1em;
    border-radius: .25em;
    padding: .25em .5em;
}