<!DOCTYPE html>

<html>

<head>
    <title>System Dashboard</title>
    <!-- <script type="text/javascript" src="../static/script.js></script> -->
    <link rel="icon"        type="image/x-icon" href="../static/favicon.ico">
    <link rel="stylesheet"  type="text/css"     href="../static/style.css">
</head>

<body>
    <div class="center">
        <h1>System Dashboard</h1>
        <h2>Current Data</h2>
        <button onclick="window.location.href='request_data';">
            Request Data
        </button>
        <div style="overflow-x:auto;">
            <table class="center">
                <tr>
                    <th>Date-time</th>
                    <th>Temperature</th>
                    <th>Pressure</th>
                    <th>Humidity</th>
                    <th>Lux</th>
                </tr>
                <tr>
                    <td id="date-time">{{ date_time }}</td>
                    <td id="temperature">{{ temperature }}°C</td>
                    <td id="pressure"> {{ pressure }}HPa</td>
                    <td id="humidity"> {{ humidity }}RH</td>
                    <td id="lux">{{ lux }}lx</td>
                </tr>
            </table>      
        </div>
    </div>

</body>

</html>