<!DOCTYPE html>

<html>

<head>
    <title>System Dashboard</title>
    <script type="text/javascript" src="../static/script.js"></script>
    <link rel="icon"        type="image/x-icon" href="../static/favicon.ico">
    <link rel="stylesheet"  type="text/css"     href="../static/style.css">
</head>

<body>
    <div class="center">
        <h1>System Dashboard</h1>

        <div id="current-data">
            <h2>Current Data</h2>
            <h3>Status</h3>
            <button onclick="window.location.href='request_data';">Request Data</button>
            <div style="overflow-x:auto;">
                <table class="center">
                    <tr>
                        <th>Date-time</th>
                        <th>Temperature</th>
                        <th>Pressure</th>
                        <th>Humidity</th>
                        <th>Lux</th>
                    </tr>
                    <tr>
                        <td id="date-time">{{ date_time }}</td>
                        <td id="temperature">{{ temperature }}°C</td>
                        <td id="pressure"> {{ pressure }}HPa</td>
                        <td id="humidity"> {{ humidity }}RH</td>
                        <td id="lux">{{ lux }}lx</td>
                    </tr>
                </table>      
            </div>
        </div>

        <div id="recorded-data">
            <h2>Logged Data</h2>
            <h3>Logging: {{ recorded_data }}</h3>
            <button onclick="window.location.href='download_data';">Download Data</button>
            <button onclick="window.location.href='logging_status';" onclick="change_status_button()" id="logging_status_button">{{logging_status}} Logging</button>
        </div>

    </div>
</body>

</html>