<!DOCTYPE html>

<html>

<head>
    <title>System Dashboard</title>
    <!-- <script type="text/javascript" src="script.js"></script> -->
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" >
</head>

<body>

    <h1>System Dashboard</h1>
    <h2>Current Data</h2>
    <button onclick="window.location.href='request_data';">
        Request Data
      </button>
    <table>
        <tr>
            <th>Time-date</th>
            <th>Temperature</th>
            <th>Pressure</th>
            <th>Humidity</th>
            <th>Lux</th>
        </tr>
        <tr>
            <td id="time-date">0.00</td>
            <td id="temperature">0.00</td>
            <td id="pressure">0.00</td>
            <td id="humidity">0.00</td>
            <td id="lux">0.00</td>
        </tr>
    </table>

    <h2>Historical Data</h2>
    <button type="button" onclick="">Refresh Data</button>
    <button type="button">Download Data</button>
    <table>
        <tr>
            <th>Time-date</th>
            <th>Temperature</th>
            <th>Pressure</th>
            <th>Humidity</th>
            <th>Lux</th>
        </tr>
        <tr>
            <td>0.00</td>
            <td>0.00</td>
            <td>0.00</td>
            <td>0.00</td>
            <td>0.00</td>
        </tr>
    </table>

</body>


</html>